# Ignorar node_modules en backend y frontend
backend/node_modules/
frontend/node_modules/

# Ignorar carpetas de compilación
backend/dist/
frontend/dist/

# Ignorar archivos de entorno (credenciales)
backend/.env
frontend/.env

# Ignorar logs y otros archivos innecesarios
backend/*.log
frontend/*.log
